<header>
    <nav>
        <div class="nav-elements">
            <article class="logo-wrapper">
                <img src="/assets/img/lol-logo.png" alt="lol-logo">
            </article>
            <ul>
                <li>
                    <a href="#">
                        BOOSTING
                    </a>
                </li>
                <li>
                    <a href="#">
                        COACHING
                    </a>
                </li>
                <li>
                    <a href="#">
                        RESULTS
                    </a>
                </li>
                <li>
                    <a href="#">
                        SIGN IN
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<img class="home-img fadeImage" src="assets/img/home-img.png">
<div class="info">
    <h2>THE BEST LOL BOOSTING EXPERIENCE</h2>
    <hr>
    <p>LoLBoost being one of the oldest elo boosting websites in the world, fits the very high standards of service trusted by thousands of players worldwide.</p>
    <a href="#">BOOSTING</a>
    <a href="#">COACHING</a>
</div>
<footer>
    <p>The experienced boosters and coaches from LoL Shop are here to boost your elo and coach you how to climb the ladder!</p>
    <p>We are in no way affiliated with, associated with or endorsed by Riot Games, Inc.</p>
</footer>