<div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>REGISTER</h2>
        <div class="underline-title"></div>
      </div>
      <form method="post" class="form">
        <label for="user-username" style="padding-top:13px">
            &nbsp;Username
          </label>
          <div class="formGroup">
            <!-- <input type="text" class="formControl" placeholder="Username" #userUsername required> -->
          </div>
        <div class="form-border"></div>

        <label for="user-email" style="padding-top:13px">
            &nbsp;Email
          </label>
          <div class="formGroup">
              <input type="text" class="formControl" placeholder="Email" #userEmail required>
          </div>

        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">
            &nbsp;Password
          </label>
          <div class="formGroup">
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
          </div>


        <div class="form-border"></div>
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="REGISTER" (click)="authenticationService.SignUp(userEmail.value, userPassword.value)">
        </div>
        <a href="/login" id="signin">Already have an account?</a>
      </form>
    </div>
</div>
