<header>
    <nav>
        <div class="nav-elements">
            <article class="logo-wrapper">
                <img src="/assets/img/lol-logo.png" alt="lol-logo">
            </article>
            <ul>
                <li>
                    <a href="#">
                        BOOSTING
                    </a>
                </li>
                <li>
                    <a href="#">
                        COACHING
                    </a>
                </li>
                <li>
                    <a href="#">
                        RESULTS
                    </a>
                </li>
                <li>
                    <a href="#">
                        SIGN IN
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
